body {
  background-color: #130f40;
  background-image: -webkit-linear-gradient(135deg, #130f40 0%, #000000 74%);
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  color: wheat;
  font-family: "Nunito", sans-serif;

}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}


/* navigasyon */

.navigator {
  display: flex;
  justify-content: space-between;
}

.navigator h4 {
  font-size: 21px;

  a {
    text-decoration: none;
    color: wheat;
  }

}

.navigator h4 a:hover {
  background: radial-gradient(circle, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.socialmedia {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-top: 9px;

}

.socialmedia img {
  background-color: wheat;
  border-radius: 50%;
  padding: 5px;

}

.socialmedia img:hover {
  background: radial-gradient(circle, #ff7e5f, #feb47b);

}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-top: 18px;
}

.menu a {
  text-decoration: none;
  color: wheat;
}

.menu a:hover {
  background: radial-gradient(circle, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*navigasyon sonu*/

/*hero baslangic*/

.hero-container {
  display: flex;
  padding: 30px;
}


.hero-content-area {
  display: block;
  padding-left: 35px;

}

.hero-content-area h3 {
  font-size: 30px;
}

.sudenur {
  background: radial-gradient(circle, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.hero-content {
  font-size: 18px;
  margin-bottom: 50px;

}

.hero-content a {
  text-decoration: none;
  background: radial-gradient(circle, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactBtn {
  padding: 15px 40px;
  border: 2px solid #feb47b;
  ;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  background: radial-gradient(circle, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactBtn:hover{
  border: 2px solid #ff7e5f;
  ;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  background: radial-gradient(circle, #feb47b, #ff7e5f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ability-area{
  border-top: 2px solid #ff7e5f;
}
.ability-area h3{
  font-size: 32px;
  margin-left: 30px;
}

.yetenekler{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  

}

.yetenek-item{
  margin-inline: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.yetenek-item:hover{
  transform: scale(1.2);
}